body {
  color: white;
  background: #002f0d;
  position: relative
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
  height: 300px;
}

.app {
  position: relative;
  left: 30%;
  width:70%;
  background: #002f0d;
}

.covered img {
  content:url("../img/card-back.png");
}